[Unit]
Description=Look for OverLyX commits on origin/master to deploy

[Timer]
OnBootSec=3min
OnUnitActiveSec=2min
AccuracySec=30s

[Install]
WantedBy=timers.target
